
@media screen and (max-width: 768px){
	.menu__title{
		display: block;
	}
	.story{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.watch__story{
		display: flex;
		justify-content: center;
	}
	.client__h{
		margin-top: 80px;
	}
	.footer__logo{
		margin-right: 30px;
		height: 55px;
		width: auto;
	}
	.e{
		margin-top: 50px;
	}
	.footer__content{
		flex-wrap: wrap;
	}
	.menu{
		margin-left: -600px;
		background: #332a58;
	}

}
@media screen and (max-width: 425px){
	.menu__title{
		margin-left: 300px;
	}
	.menu{
		flex-direction: column;
		margin-left: -200px;
	}
	.watch__story{
		display: flex;
		flex-direction: column;
		justify-content:center;
		padding-left: 150px;
	}
	.seven__item{
	height: 50px;
	width: auto;
	}
}