@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Roboto);

* {
text-decoration:none;
list-style:none;
box-sizing:border-box;
margin:0;
padding:0;
}

p {
color:#333;
font-family:Roboto;
font-size:14px;
font-weight:300;
line-height:22px;
}

h1 {
color:#fff;
font-family:"Playfair Display - Black";
font-size:32px;
letter-spacing:.32px;
font-weight:700;
}

h2 {
color:#413d4b;
font-family:"Playfair Display";
font-size:22px;
font-weight:700;
text-transform:uppercase;
}

h3 {
color:#fff;
font-family:"Roboto - Black";
font-size:16px;
font-weight:400;
text-transform:uppercase;
}

h4 {
color:#413d4b;
font-family:"Roboto - Black";
font-size:14px;
font-weight:600;
text-transform:uppercase;
letter-spacing:.7px;
}

h5 {
color:#fff;
font-family:"Roboto - Black";
font-size:15px;
font-weight:600;
line-height:26px;
text-transform:uppercase;
letter-spacing:.75px;
display:block;
}

.bt {
color:#00e0d0;
font-family:"Hammersmith One";
font-size:16px;
font-weight:400;
text-transform:uppercase;
background:none;
display:block;
}

.wrapper {
max-width:100%;
overflow:hidden;
}

.s {
display:flex;
justify-content:center;
}

header {
background:url(../img/header-bg.jpg) center center;
background-size:cover;
height:670px;
padding-top:15px;
position:relative;
}

.menu {
padding-top:15px;
display:flex;
}

.menu__title {
display:none;
color:#fff;
position:relative;
right:0;
top:-35px;
transition:1s all ease;
z-index:5;
}

.menu a {
color:#fff;
font-family:Roboto, serif;
letter-spacing:.33px;
font-size:13px;
text-transform:uppercase;
font-weight:700;
}

.menu a:hover {
color:#00e0d0;
text-decoration:none;
}

.menu__item {
margin-left:25px;
}

.h__header {
margin-top:180px;
text-align:center;
}

.h__header:after {
display:block;
content:' ';
width:50px;
height:1px;
background-color:#00e0d0;
margin:20px auto;
}

.header__p {
color:#fff;
font-family:Roboto;
font-size:14px;
font-weight:300;
line-height:24px;
text-align:center;
margin-bottom:50px;
}

.fixed {
position:fixed;
z-index:2;
left:0;
top:0;
background:#332a58;
max-width:100%;
padding-top:15px;
transition:.5s all ease;
}

.story {
padding:70px 0;
}

.story__p {
margin-top:30px;
color:#413d4b;
font-family:Roboto;
font-size:14px;
font-weight:300;
line-height:22px;
letter-spacing:.42px;
}

.watch__story {
background:url(../img/watch__story-bg.jpg) center center;
background-size:cover;
padding:200px 0;
}

.play {
font-size:100px;
color:#fff;
margin-bottom:35px;
text-align:center;
position:relative;
}

.watch__story-h {
position:absolute;
left:-5px;
}

.expertise {
padding:70px 0 100px;
}

.expertise__p {
text-align:center;
margin-top:15px;
color:#2f2d35;
font-family:"Playfair Display";
font-size:14px;
font-weight:400;
letter-spacing:1.05px;
}

.expertise__p:after {
display:block;
content:' ';
width:50px;
height:2px;
background-color:#413d4b;
margin:20px auto;
}

.expertise__item {
text-align:center;
margin-top:80px;
}

.expertise__item-h {
margin:35px 0 25px;
}

.team {
background:url(../img/Team-bg.jpg) center center;
background-size:cover;
padding:70px 0;
}

.team_h,.team_p {
text-align:center;
color:#fff;
}

.team_p {
margin-top:15px;
letter-spacing:1.05px;
}

.team_p:after {
width:50px;
height:2px;
background-color:#fff;
display:block;
content:' ';
margin:20px auto;
}

.team__item-head {
height:229px;
background:#fff;
margin-bottom:23px;
}

.team__item-title,.seven__span {
margin-bottom:12px;
color:#fff;
font-family:"Roboto - Black";
font-size:14px;
font-weight:400;
text-transform:uppercase;
letter-spacing:.7px;
}

.team__item-p {
color:#fafafa;
font-family:Roboto;
font-size:13px;
font-weight:300;
text-transform:uppercase;
}

.team__features {
margin:50px 0 70px;
}

.team__bottom-p {
color:#f3f3f3;
font-family:Roboto;
font-size:14px;
font-weight:300;
letter-spacing:.7px;
text-align:center;
}

.our__works {
margin:70px 0;
}

.our__works .row:first-child {
margin-bottom:70px;
}

.our__works-bg {
background:#8a8a8a;
width:100%;
height:400px;
margin-bottom:70px;
}

.seven {
background:url(../img/seven-bg.jpg)center center;
background-size:cover;
text-align:center;
padding:70px 0;
}

.seven__p {
color:#fff;
font-family:"Playfair Display";
font-size:16px;
font-weight:400;
line-height:26px;
letter-spacing:.4px;
margin:40px 0 50px;
}

.seven-p {
color:#fff;
font-family:Roboto;
font-size:13px;
font-weight:300;
line-height:22px;
text-transform:uppercase;
}

.seven__pn {
font-size:30px;
color:#f3f3f3;
cursor:pointer;
margin:0 16px 0 30px;
}

.seven__item {
margin-left:14px;
height: 50px;
}

.seven .row:nth-child(3) {
margin-top:45px;
}

.client__form {
display:flex;
padding:70px 0;
}

.client__form-h {
margin-bottom:35px;
}

.form__item {
margin-bottom:23px;
padding:17px 0 14px 20px;
}

.client__item-block {
display:flex;
}

.client__item {
margin-bottom:50px;
}

.client__h {
display:block;
margin-bottom:50px;
}

.client__form .container {
flex-wrap:wrap;
}

footer {
background:url(../img/footer-bg.jpg) center center;
background-size:cover;
flex-wrap:wrap;
display:flex;
padding:70px 0;
}

.footer__row {
display:flex;
flex-wrap:wrap;
}

.tajam__p,.studio__p {
color:#fff;
font-family:Roboto;
font-size:14px;
font-weight:300;
line-height:26px;
letter-spacing:.35px;
}

.mt-80 {
margin-top:80px;
}

.footer__item {
margin-left:15px;
color:#fff;
}

.footer__item:first-child {
margin-left:0;
}

.footer__logo {
margin-bottom:30px;
}

.studio__p {
margin-top:40px;
margin-bottom:30px;
text-align:left;
}

.mark {
background:none;
margin-right:15px;
}

.tell {
color:#fff;
letter-spacing:.35px;
}

.sub {
background:none;
border:1px solid #fff;
margin-top:40px;
margin-right:10px;
color:#fff;
font-family:Roboto;
font-size:14px;
font-weight:300;
line-height:26px;
letter-spacing:.7px;
padding:17px 0 17px 16px;
}

.plane {
font-size:30px;
text-align:center;
}

.btn__footer {
height:63px;
border:1px solid #fff;
background-color:#f3f3f3;
display:inline-block;
line-height:53px;
}

.social__item {
color:#fff;
border:1px solid #fff;
border-radius:50%;
font-size:15px;
width:35px;
height:35px;
text-align:center;
line-height:33px;
margin-left:10px;
transition:.3s all ease;
}

.social__item:hover {
cursor:pointer;
background:#00e0d0;
}

.footer__social {
margin-top:30px;
}

.copyright {
margin-top:70px;
color:#fff;
text-align:right;
}

.expertise__h,.expertise__item-p,.team__item {
text-align:center;
}

.form__user,.r {
display:flex;
flex-direction:column;
}